@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  /* CORES */

  --cor-btn-primaria: #4a3aff;
  --cor-btn-secundaria: #fe6663;
  --cor-texto-primaria: #170f49;
  --cor-muted: #6f6c90;
  --cor-btn-muted-light: #cccccc;

  /* SOMBRAS */

  --sombra-btn: 0px 8px 22px rgba(74, 58, 255, 0.26);
  --sombra-card: 0px 2px 6px rgba(19, 18, 66, 0.07);
  --sombra-container: 0px 54px 54px rgba(74, 58, 255, 0.02),
    1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);

  /* BORDA */
  --borda-card: 1px solid #eff0f7;
  --borda-container: 34px;

  /* HOVER */
  --hover-card: rgba(111, 108, 144, 0.15);
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

p {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.625rem;
}

h1 {
  font-size: 2.125rem;
  line-height: 2.875rem;
}

/* ========= Section 1 Log In ========= */
.my-container {
  height: 90vh;
}

.container-img {
  background-color: #f3f1ff;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.login h1 {
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.form {
  width: 60%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form input {
  border: none;
  outline: none;
}

.form button {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-primaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
}

.form button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.form span,
a {
  display: block;
  text-align: center;
  color: var(--cor-muted);
}

.form a {
  font-weight: 700;
  text-decoration: underline;
}

.form a:hover {
  color: var(--cor-texto-primaria);
}

.user,
.lock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0.8px solid #ccc;
}

/* ========= Section 2 Sign Up ========= */
.section-dois h1 {
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.section-dois p {
  color: var(--cor-muted);
}

.form-cadastro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-cadastro label:first-child,
select {
  width: 100%;
}

.form-cadastro label {
  margin-bottom: 6px;
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.form-cadastro label:nth-child(n + 2) {
  margin-top: 15px;
}

.form-cadastro input,
select,
option {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0.8px solid #ccc;
}

.form-cadastro button {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-primaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
}

.form-cadastro button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.my-div span {
  display: block;
  text-align: center;
  color: var(--cor-muted);
}

.my-div a {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}

.my-div a:hover {
  color: var(--cor-texto-primaria);
}

/* ========= home-recutador ========= */

.padding-home-recrutador {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 78px;
}
.padding-between {
  gap: 26px;
}
.button-recrutador-cadastrar-vaga {
  width: 50%;
  padding: 10px 0px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-primaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
  gap: 63px;
}
.button-vagas-home-recrutador {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}

.button-vagas {
  cursor: pointer;
  display: flex;
  gap: 75%;
  width: 95%;
  border-radius: 46px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: var(--borda-card);
  background-color: white;
  box-shadow: var(--sombra-card);
}
.button-vagas:hover {
  background-color: var(--hover-card);
}
.button-vagas-home-recrutador:hover {
  opacity: 0.8;
  transition: 0.4s;
}

/* ========= cadastra-vaga-recrutador ========= */

.text-center-cadastra-vaga {
  padding: 10px;
  margin-bottom: 37px;
  text-align: center;
}

.cadastra-vaga-padding {
  padding-bottom: 35px;
}

/* ======== tela de vaga - recrutador ======== */
.header-card {
  display: flex;
  align-content: space-between;
  gap: 62%;
  padding-left: 23px;
  padding-right: 9px;
}

.section-titulo-descricao {
  padding-left: 23px;
  margin-top: 20px;
}

.descricao-vaga-recrutador {
  padding-top: 15px;
  padding-right: 5px;
}

.titulo-candidatos-recrutador {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
}
.nome-data-recrutador {
  padding-right: 23px;
  padding-left: 23px;
  padding-top: 15px;
  display: flex;
  align-content: space-between;
  gap: 35%;
}

.nome-pessoa-tela-vaga-recrutador {
  background-color: #4a3aff;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}

/* .barra-nome-data {
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  gap: 30%;

  width: 100%;
  border-radius: 46px;
  padding-left: 85px;
  padding-right: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: var(--borda-card);
  background-color: white;
  box-shadow: var(--sombra-card);
}


.button-aprovado-cadastrar-vaga{
  width: 50%;
  padding: 5px 15px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-secundaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
  gap: 63px;
} */
