@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    /* CORES */

    --cor-btn-primaria: #4A3AFF;
    --cor-btn-secundaria: #FE6663;
    --cor-texto-primaria: #170F49;
    --cor-muted: #6F6C90;
    --cor-btn-muted-light: #CCCCCC;

     /* SOMBRAS */

    --sombra-btn: 0px 8px 22px rgba(74, 58, 255, 0.26);
    --sombra-card: 0px 2px 6px rgba(19, 18, 66, 0.07);
    --sombra-container: 0px 54px 54px rgba(74, 58, 255, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    
    /* BORDA */
    --borda-card: 1px solid #EFF0F7;
    --borda-container: 34px;
    
    /* HOVER */
    --hover-card: rgba(111, 108, 144, 0.15);
}


*{
  box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

p{
    font-size: 1.125rem;
    line-height: 1.25rem;
}

h2{
    font-size: 1.5rem;
    line-height: 1.625rem;
}

h1{
    font-size: 2.125rem;
    line-height: 2.875rem;
}

.hidden{
  display: none;
}
.blur {
  filter: blur(1rem);
}

/* ========= Section 1 Log In ========= */
.my-container {
  height: 90vh;
}

.container-img {
  background-color: #F3F1FF; 
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.login h1 {
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.form {
  width: 60%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form input {
  border: none;
  outline: none;
}

.form button {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-primaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
}

.form button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.form span, a {
  display: block;
  text-align: center;
  color: var(--cor-muted);
}

.form a {
  font-weight: 700;
  text-decoration: underline;
}

.form a:hover {
  color: var(--cor-texto-primaria);
}

.user, .lock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0.8px solid #ccc;
}

/* ========= Section 2 Sign Up ========= */
.section-dois{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.section-dois h1 {
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.section-dois p {
  color: var(--cor-muted);
}

.form-cadastro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-cadastro label:first-child, select {
  width: 100%;
}

.form-cadastro label {
  margin-bottom: 6px;
  color: var(--cor-texto-primaria);
  font-weight: 700;
}

.form-cadastro label:nth-child(n+2){
  margin-top: 15px;
}

.form-cadastro input, select, option {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0.8px solid #ccc;
}

.form-cadastro button {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-btn-primaria);
  color: #fff;
  box-shadow: var(--sombra-btn);
  transition: 0.4s;
  font-weight: 700;
}

.form-cadastro button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.my-div span {
  display: block;
  text-align: center;
  color: var(--cor-muted);
}

.my-div a {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}

.my-div a:hover {
  color: var(--cor-texto-primaria);
}